<h1>Game <%= @game.id %></h1>

<% if !@game.won? && !@game.lost? %>
<p>You have <%= @game.lives_left %> lives</p>
<p>Word: <%= @game.hidden_word %> </p>
  <%= render 'guesses/form' %>
  <h2>Guesses made:</h2>
  <ul>
    <% @game.guesses.each do |guess| %>
        <li>
          <%= guess.guess %>
        </li>
      <% end %>
  </ul>
  <% else %>
  <% end %>
  
  <% if @game.won? %>
  <p>You won!</p>
  <p>Answer: <%= @game.word %> </p>
  <% end %>
  <% if @game.lost? %>  
  <p>You lost!</p>
  <p>Answer: <%= @game.word %> </p>
<% end %>

<%= link_to "Delete game", hangman_state_path(@game), method: :delete %>




