<h1>Game started <%= @game.created_at.in_time_zone('Pacific/Auckland').strftime("%A, %m/%d/%Y at %I:%M%p") %></h1>
<br>
<% if !@game.won? && !@game.lost? %>
  <h2><span class="badge bg-secondary">

  <%= @game.hidden_word.map{ |x| x.present? ? x : ' * '}.join('')%></span>

  </h2>
  <% if @game.lives_left > 1 %>
    <p>You have <%= @game.lives_left %> lives left</p>
  <% else %>
    <p>You have <%= @game.lives_left %> life left</p>
  <% end %>
  <%= render 'guesses/form' %>
  <% if @game.guesses.count > 0 %>
    <h2 class="h5">Previous guesses:</h2>
  <% end %>
  <ul>
    <% @game.guesses.each do |guess| %>
        <li class="list-style-type: none;">
          <%= guess.guess %>
        </li>
      <% end %>
  </ul>
  <% end %>
  
<% if @game.won? %>
  <h3><span class="badge bg-success">You won!</span></h3>
  <p>Answer: <%= @game.word %> </p>
<% end %>
<% if @game.lost? %>
<h3><span class="badge bg-warning">You lost :(</span></h3>
  <p>The answer was '<%= @game.word %>' </p>
<% end %>

<% if @game.finished? %>
  <%= link_to "Dashboard", hangman_state_path(@game), method: :delete %><br>
<% else %>
  <%= link_to "Delete", hangman_state_path(@game), method: :delete %> | <%= link_to "Pause", '/' %>
<% end %>




